<nav class="navbar navbar-expand-lg navbar-dark bg-blue fixed-top" id="mainNav">
    <div class="container">
        <a class="navbar-brand js-scroll-trigger text-white" [routerLink]="['/']">
            <img width="50" [src]="'/assets/images/icons/icon_white.png'">
            {{ appName }}
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive"
            aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link js-scroll-trigger" href="#about">About</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link js-scroll-trigger" href="#services">Services</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link js-scroll-trigger" href="#contact">Contact</a>
                </li>
                <li *ngIf="_authService.isLoggedIn()">
                    <button class="btn btn-indigo btn-sm text-white mr-1" [routerLink]="['/portal']">
                        <i class="fa fa-tasks"></i> Portal
                    </button>
                </li>
                <li *ngIf="!_authService.isLoggedIn()">
                    <button class="btn btn-indigo btn-sm text-white" [routerLink]="['/login']">
                        <i class="fa fa-sign-in-alt"></i> Login
                    </button>
                </li>
                <li *ngIf="_authService.isLoggedIn()">
                    <button class="btn btn-pink btn-sm text-white" (click)="_authService.logoutUser()">
                        <i class="fa fa-sign-out-alt"></i> Logout
                    </button>
                </li>
            </ul>
        </div>
    </div>
</nav>