<!-- Main Content -->
<div class="container-fluid">
    <div class="row main-content bg-success text-center">
        <div class="col-md-5 text-center company__info">
            <a class="text-white" [routerLink]="['/']">
                <span class="company__logo">
                    <img width="150" [src]="'/assets/images/icons/icon_white.png'">
                </span>
                <h4 class="company_title">Angular Admin-LTE Example</h4>
            </a>
        </div>
        <div class="col-md-7 col-xs-12 col-sm-12 login_form ">
            <div class="container-fluid">
                <div class="row py-2 justify-content-center">
                    <h2>LOGIN</h2>
                </div>
                <div class="row">
                    <form control="" class="form-group container-fluid">
                        <div class="row">
                            <input [(ngModel)]="loginUserData.email"
                                type="text" name="email" 
                                class="form__input" placeholder="Email" />

                            <input [(ngModel)]="loginUserData.password"
                                type="password" name="password" 
                                class="form__input" placeholder="Password" />
                        </div>
                        <div class="row">
                            <div class="col-md-12 col-xs-12 col-sm-12">
                                <input type="submit" value="Submit" class="btn"
                                    (click)="loginUser()"/>
                                <!--p class="text-xs"><a [routerLink]="['/signup']">Click here to Sign UP</a></p-->
                                <p class="text-xs"><a [routerLink]="['/changePassword']">Change Password</a></p>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<app-footer></app-footer>

<style>
    .main-content {
        width: 50%;
        border-radius: 20px;
        box-shadow: 0 5px 5px rgba(0, 0, 0, .4);
        margin: 5em auto;
        display: flex;
    }

    .company__info {
        background-color: #2F6DC9;
        border-top-left-radius: 20px;
        border-bottom-left-radius: 20px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        color: #fff;
    }

    .fa-android {
        font-size: 3em;
    }

    @media screen and (max-width: 640px) {
        .main-content {
            width: 90%;
        }

        .company__info {
            display: none;
        }

        .login_form {
            border-top-left-radius: 20px;
            border-bottom-left-radius: 20px;
        }
    }

    @media screen and (min-width: 642px) and (max-width:800px) {
        .main-content {
            width: 70%;
        }
    }

    .row>h2 {
        color: #2F6DC9;
    }

    .login_form {
        background-color: #fff;
        border-top-right-radius: 20px;
        border-bottom-right-radius: 20px;
        border-top: 1px solid #ccc;
        border-right: 1px solid #ccc;
    }

    form {
        padding: 0 2em;
    }

    .form__input {
        width: 100%;
        border: 0px solid transparent;
        border-radius: 0;
        border-bottom: 1px solid #aaa;
        padding: 1em .5em .5em;
        padding-left: 2em;
        outline: none;
        margin: 1em auto;
        transition: all .5s ease;
    }

    .form__input:focus {
        border-bottom-color: #2F6DC9;
        box-shadow: 0 0 5px rgba(0, 80, 80, .4);
        border-radius: 4px;
    }

    .btn {
        transition: all .5s ease;
        width: 70%;
        border-radius: 30px;
        color: #2F6DC9;
        font-weight: 600;
        background-color: #fff;
        border: 1px solid #2F6DC9;
        margin-top: 1.5em;
        margin-bottom: 1em;
    }

    .btn:hover,
    .btn:focus {
        background-color: #2F6DC9;
        color: #fff;
    }
</style>