<app-breadcrumb [pageTitle]="currentPageTitle"></app-breadcrumb>

<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-body p-2">
                <a [routerLink]="['/portal/user-form']" class="btn btn-sm btn-primary">Add User</a>
            </div>
        </div>

        <div class="card">
            <div class="card-body p-2">
                <div class="col-md-8">
                    <div id="imaginary_container">
                        <div class="input-group stylish-input-group">
                            <input class="form-control" [(ngModel)]="query" name="q" id="query" value="" placeholder="Search by Employee Name" type="text">
                            <span class="input-group-addon"><button type="submit"><i class="fa fa-search"></i></button></span>
                        </div>
                    </div>
                </div>

                <div class="col-md-10 col-md-offset-2 py-2">
                    <div class="flot-right">
                        <button class="btn btn-default btn-sm mr-2" title="Clear" onclick="ClearFormValues('#searchForm')">
                            <i class="fa fa-circle-thin"></i> Clear
                        </button>
                        <button class="btn btn-info btn-sm mr-2" title="Export PDF" onclick="DownloadPDF();">
                            <i class="fa fa-file-pdf-o"></i> Export PDF
                        </button>
                        <button class="btn btn-info btn-sm mr-2" title="Export PDF" onclick="DownloadCSV();">
                            <i class="fa fa-file-excel-o"></i> Export EXCEL
                        </button>
                        <button class="btn btn-primary btn-sm mr-2" title="Search" (click)="search()">
                            <i class="glyphicon glyphicon-search"></i> Search
                        </button>
                    </div>
                </div>
            </div>
        </div>

        <div class="card">
            <div class="card-header border-transparent">
                <h3 class="card-title">Users List</h3>
            </div>
            
            <div class="card-body p-0">
                <div class="table-responsive">
                    <table class="table m-0">
                        <thead>
                            <tr>
                                <th>Full Name</th>
                                <th>Email</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let user of listOfUser | async">
                                <td>{{ user.first_name }} {{ user.middle_name }} {{ user.last_name }}</td>
                                <td>{{ user.email }}</td>
                                <td>
                                    <button [routerLink]="['/portal/user-form']" [queryParams]="{id: user._id}"
                                        class="btn btn-primary btn-sm">
                                        <i class="fa fa-edit"></i>
                                    </button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            
        </div>

    </div>
</div>