<div class="content-wrapper" style="min-height: 220.354px;">
    <!-- Main content -->
    <section class="content">
        <div class="container-fluid">
            <router-outlet></router-outlet>
        </div>
    </section>
</div>