<app-breadcrumb [pageTitle]="currentPageTitle"></app-breadcrumb>

<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-body p-2">
                <a (click)="newUserRole()" class="btn btn-sm btn-primary">Add User Role</a>
            </div>
        </div>

        <div class="card">
            
            <form class="form-horizontal" *ngIf="userRole">
                <input type="hidden" id="id" name="id" [(ngModel)]="userRole._id" />

                <div class="card-body">
                    <div class="form-group row">
                        <label for="name" class="col-sm-2 col-form-label">Name</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" 
                                [(ngModel)]="userRole.name"
                                id="name" name="name" 
                                placeholder="Name">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="description" class="col-sm-2 col-form-label">Description</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" 
                                [(ngModel)]="userRole.description"
                                id="description" name="description" 
                                placeholder="Description">
                        </div>
                    </div>
                </div>

                <div class="card-footer">
                    <button (click)="saveUserRole()" type="submit" class="btn btn-primary">Save</button>
                    <a [routerLink]="['/portal/user-role-list']" class="btn btn-default float-right">Done</a>
                </div>
            </form>

        </div>

    </div>
</div>