
<div id="footer-wrapper" class="col-sm-12 col-md-12 py-5 bg-dark">
    <div class="clear-large"></div>
    <div id="footer">
        <div class="clear-large"></div>
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-3 col-sm-5 text-12">
                    <ul>
                        <li>
                            <a [routerLink]="['/portal']" class="text-white">Portal</a>
                        </li>
                        <li *ngIf="!_authService.isLoggedIn()">
                            <a [routerLink]="['/login']" class="text-white">Login</a>
                        </li>
                        <li>
                            <a [routerLink]="['/demo-angular']" class="text-white">Demo Angular</a>
                        </li>
                        <li>
                            <a [routerLink]="['/demo-admin-lte']" class="text-white">Demo Admin-LTE</a>
                        </li>
                    </ul>
                </div>
                <div class="col-md-6 col-sm-6">
                    <p class="muted text-center">
                        © 2019 - 2020 All rights reserved.
                        <br/><a [routerLink]="['/']" class="text-white" >ANGULAR ADMIN-LTE EXAMPLE.</a> 
                    </p>
                </div>
                <div class="col-md-3 col-sm-1">
                    <p class="muted col-md-offset-1">
                        <a href="http://www.truebitstech.com">
                            <img class="powered_by float-right" width="100" [src]="'/assets/images/common/powered_by.png'" >
                        </a>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>