<style>
    html, body {  height: 100%; }
    body { 
        margin: 0; padding: 0; width: 100%; color: #B0BEC5; 
        display: table; font-weight: 100; 
        font-family: 'LatoWeb'; 
    }
    .container { text-align: center; vertical-align: middle; }
    .content { text-align: center; display: inline-block; }
    .title { font-size: 56px; margin-bottom: 40px; }
    .title small{ color: #909E85; font-size: 42px; font-family: 'LatoWebBold'; }
</style>

<script>
    $(".btn_back_please").on('click', function(){
        window.history.back();
    });
</script>

<div class="container">
    <div class="row">
        <div class="col-sm-12 py-5">
            <div class="title text-gray">Sorry This Page Could Not Be Found!!.</div>
            <div class="title">
                <img class="powered_by" width="200" [src]="'/assets/images/common/powered_by_color.png'" />
                <br/>
                <a href="#" class="btn btn-primary btn-lg btn_back_please">
                    <i class="fa fa-arrow-left"></i> GO BACK
                </a>
            </div>
        </div>
    </div>
</div>