<!-- Navbar -->
<nav class="main-header navbar navbar-expand text-sm navbar-dark navbar-primary">
    <!-- Left navbar links -->
    <ul class="navbar-nav">
        <li class="nav-item">
            <a class="nav-link" data-widget="pushmenu" href="#"><i class="fas fa-bars"></i></a>
        </li>
    </ul>

    <!-- Right navbar links -->
    <ul class="navbar-nav ml-auto">
        <li *ngIf="_authService.isLoggedIn()" class="nav-item d-none d-sm-inline-block">
            <button (click)="_authService.logoutUser()" class="btn btn-pink btn-sm">Logout</button>
        </li>
    </ul>
</nav>
<!-- /.navbar -->