<aside class="main-sidebar elevation-4 sidebar-no-expand sidebar-light-primary">
    <!-- Brand Logo -->
    <a [routerLink]="['/']" class="brand-link text-sm navbar-primary">
        <img [src]="'/assets/images/icons/icon.png'" alt="Angular Admin-LTE Logo" 
            class="brand-image" style="opacity: .8">
        <span class="brand-text font-weight-light text-white text-white">{{ appName }}</span>
    </a>

    <!-- Sidebar -->
    <div class="sidebar os-host os-theme-light os-host-overflow os-host-overflow-y 
        os-host-resize-disabled os-host-scrollbar-horizontal-hidden os-host-transition">
        <div class="os-resize-observer-host">
            <div class="os-resize-observer observed" style="left: 0px; right: auto;"></div>
        </div>
        <div class="os-size-auto-observer" style="height: calc(100% + 1px); float: left;">
            <div class="os-resize-observer observed"></div>
        </div>
        <div class="os-content-glue" style="margin: 0px -8px; width: 249px; height: 600px;"></div>
        <div class="os-padding">
            <div class="os-viewport os-viewport-native-scrollbars-invisible" style="overflow-y: scroll;">
                <div class="os-content" style="padding: 0px 8px; height: 100%; width: 100%;">

                    <!-- Sidebar user panel (optional) -->
                    <div class="user-panel mt-3 pb-3 mb-3 d-flex">
                        <div class="image">
                            <img src="assets/images/adminlte/user2-160x160.jpg" class="img-circle elevation-2"
                                alt="User Image">
                        </div>
                        <div class="info">
                            <a href="#" class="d-block">Alexander Pierce</a>
                        </div>
                    </div>

                    <!-- Sidebar Menu -->
                    <nav class="mt-2">
                        <ul class="nav nav-pills nav-sidebar flex-column text-sm nav-legacy 
                                nav-compact nav-child-indent" data-widget="treeview" role="menu"
                            data-accordion="false">
                            
                            <ng-template ngFor let-menuItem [ngForOf]="listOfMenu" let-i="index">
                                <li *ngIf="menuItem.isNavHeader; else notNavHeaderBlock" class="nav-header">
                                    {{ menuItem.name }}
                                </li>
                                <ng-template #notNavHeaderBlock>
                                    <li *ngIf="!menuItem.hasSubMenu; else hasSubMenuBlock" class="nav-item">
                                        <a [routerLink]="[menuItem.url]" routerLinkActive="active" class="nav-link">
                                            <i class="{{ menuItem.icon }}"> </i>
                                            <p>{{ menuItem.name }}</p>
                                        </a>
                                    </li>
                                    <ng-template #hasSubMenuBlock>
                                        <li class="nav-item has-treeview">
                                            <a class="nav-link">
                                                <i class="{{ menuItem.icon }}"> </i>
                                                <p>
                                                    {{ menuItem.name }}
                                                    <i class="right fas fa-angle-left"></i>
                                                </p>
                                            </a>
                                            <ul class="nav nav-treeview">
                                                <li *ngFor="let subMenuItem of menuItem.listOfMenu; index as i;" class="nav-item">
                                                    <a [routerLink]="[subMenuItem.url]" routerLinkActive="active" class="nav-link">
                                                        <i class="{{ subMenuItem.icon }}"> </i>
                                                        <p>{{ subMenuItem.name }}</p>
                                                    </a>
                                                </li>
                                            </ul>
                                        </li>
                                    </ng-template>
                                </ng-template>
                            </ng-template>
                        </ul>
                    </nav>

                    <!-- /.sidebar-menu -->
                </div>
            </div>
        </div>

        <div class="os-scrollbar os-scrollbar-horizontal os-scrollbar-unusable">
            <div class="os-scrollbar-track">
                <div class="os-scrollbar-handle" style="width: 100%; transform: translate(0px, 0px);">
                </div>
            </div>
        </div>

        <div class="os-scrollbar os-scrollbar-vertical">
            <div class="os-scrollbar-track">
                <div class="os-scrollbar-handle" style="height: 26.1411%; transform: translate(0px, 0px);">
                </div>
            </div>
        </div>
        <div class="os-scrollbar-corner"></div>
    </div>
    <!-- /.sidebar -->
</aside>