<app-breadcrumb [pageTitle]="currentPageTitle"></app-breadcrumb>

<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-body p-2">
                <a [routerLink]="['/portal/user-form']" class="btn btn-sm btn-primary">Add User</a>
            </div>
        </div>

        <div class="card">
            
            <form [formGroup]="userFormGroup" (ngSubmit)="saveUser()" class="form-horizontal" *ngIf="userFormGroup">
                <input type="hidden" id="id" name="id" formControlName="_id" />
                
                <div class="card-body">
                    <div class="form-group row">
                        <label for="first_name" class="col-sm-2 col-form-label">First Name</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control"
                                formControlName="first_name"
                                id="first_name" name="first_name" 
                                placeholder="First Name">
                        </div>
                    </div>

                    <div class="form-group row">
                        <label for="middle_name" class="col-sm-2 col-form-label">Middle Name</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control"
                                formControlName="middle_name"
                                id="middle_name" name="middle_name" 
                                placeholder="Middle Name">
                        </div>
                    </div>

                    <div class="form-group row">
                        <label for="last_name" class="col-sm-2 col-form-label">Last Name</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" 
                                formControlName="last_name"
                                id="last_name" name="last_name" 
                                placeholder="Last Name">
                        </div>
                    </div>

                    <div class="form-group row">
                        <label for="email" class="col-sm-2 col-form-label">Email</label>
                        <div class="col-sm-10">
                            <input type="email" class="form-control" 
                            formControlName="email"
                                id="email" name="email" 
                                placeholder="Email">
                        </div>
                    </div>

                    <div class="form-group row">
                        <label for="password" class="col-sm-2 col-form-label">Password</label>
                        <div class="col-sm-10">
                            <input type="password" class="form-control" 
                                formControlName="password" 
                                id="password" name="password"
                                placeholder="Password">
                        </div>
                    </div>

                    <div class="form-group row">
                        <label for="confirm_password" class="col-sm-2 col-form-label">Confirm Password</label>
                        <div class="col-sm-10">
                            <input type="password" class="form-control" 
                                formControlName="confirm_password"
                                id="confirm_password" name="confirm_password"
                                placeholder="Password">
                        </div>
                    </div>
                    
                </div>
                <div class="card-footer">
                    <button type="submit" class="btn btn-primary">Save</button>
                    <a [routerLink]="['/portal/user-list']" class="btn btn-default float-right">Done</a>
                </div>
            </form>

        </div>

    </div>
</div>